@import url("components/header.css");
@import url("components/index.css");

@font-face {
  font-family: "ShipporiAntique";
  src: url("../fonts/ShipporiAntique-Regular.ttf");
}

:root {
  --max-width: 1600px;
  --yellow: rgb(248, 225, 73);
}

* {
  font-family: "ShipporiAntique";
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  display: block;
}

body {
  overflow-x: hidden;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  padding-top: 80px;
  font-size: 40px;
  text-transform: uppercase;
}

p {
  font-size: 24px;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 174, 174);
}
